.header{
    grid-area: h;
    background-color: #fff;

    display: grid;
    grid-template-columns: minmax(25em, auto) 2fr 10fr minmax(25em, auto);

}
.logo{
    grid-column: 2/3;
    font-size: 30px ;
    font-weight: 600;
    align-self: center;
    display: flex;
    align-items: center;
    margin-left: 20px;

    text-decoration: none;
    color: #000;
}
.logo:hover{
    transform: translateY(1px);
}
.region{
    font-size: 13px;
    align-self: flex-start;
    margin-top: 5px         ;
    color: #282c34;
}
.icon{
    color: crimson;
    align-self: center;
    margin-top: 8px;
}
.login{
    display: inline-block;
    grid-column: 2/3;
    justify-self: right;
}
.main{
    align-self: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.logOut{
    display: grid;
    grid-template-columns: 1fr 15px;
    grid-column-gap: 10px;
}