.nav{
  grid-area: n;
  }
ul{
  padding: 10px;
}
li{
  padding: 5px  ;
  font-size: 23px;
  list-style-type: none;
}
.a{
  display: block;
  color: #000;
  text-decoration: none;
  transition: opacity .1s ease-in-out;
}
a:hover{
  opacity: .3;
}
.a_title{
  margin-left: 10px;
}
.activeLink{
}